<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("templates/head") %>
	</head>
	<body>
		<div class="nav">
			<% if(user === null) { %>
			<div class="navItem" id="login">Login</div>
			<% } else { %>
			<div class="navItem" id="genToken">Generate Token</div>
			<div class="navItem" id="logout">Logout</div>
			<% } %>
		</div>
		<div class="main">
			<h1>Welcome to Atlas Dev - Central Currency</h1>
			<p>This is the developer page for Atlas Dev's Central Currency, a point / currency system universally used in our projects that include points and stuff like that.</p>
		</div>
		<script>
			const qs = s => document.querySelector(s);

			qs("#login").onclick = e => {
				location.assign("/login");
			}

			qs("#genToken").onclick = e => {
				location.assign("/generate");
			}

			qs("#logout").onclick = e => {
				location.assign("/logout");
			}
		</script>
	</body>
</html>