<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("templates/head", page) %>
	</head>
	<body>
		<div class="nav">
			<% if(user === null) { %>
			<div class="navItem" id="register">Register</div>
			<div class="navItem" id="login">Login</div>
			<% } else { %>
			<div class="navItem" id="logout">Logout</div>
			<% } %>
		</div>
		<div class="main">
			<h1>Welcome to Atlas Dev - Central Currency</h1>
			<p>This is the developer page for Atlas Dev's Central Currency, a point / currency system universally used in our projects that include points and stuff like that.</p>
		</div>
		<script>
			const qs = s => document.querySelector(s);

			if(qs("#login")) {
				qs("#login").onclick = e => {
					location.assign("/login");
				}
			}

			if(qs("#register")) {
				qs("#register").onclick = e => {
					location.assign("/register");
				}
			}

			if(qs("#logout")) {
				qs("#logout").onclick = e => {
					location.assign("/logout");
				}
			}
		</script>
	</body>
</html>