		<meta charset=utf-8>
		<meta name=description content="Atlas Development - Central Currency, a currency for all of Atlas Dev's Projects.">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<title>Atlas - Currency</title>
		<link rel="stylesheet" href="style.css">
