html {
	font-family: Poppins, sans-serif;
	background-color: #121212;
}

body {
	height: 100vh;
	width: 100vw;
	color: white;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.nav {
	display: flex;
	width: 100%;
	background-color: #913CE6;
	flex-direction: row-reverse;
}

.navItem {
	padding: 15px;
}

.navItem:hover {
	color: #EBEBEB;
	background-color: #8135CC; 
	cursor: pointer;
}

form[name="register"], form[name="login"] {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

input[type="submit"] {
	font-size: 1rem;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background: #3291FF;
	color: #FFFFFF;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	color: #FFFFFF;
}

input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
	background: #0070F3;
}

input {
	padding: 6px 12px;
	margin-bottom: .5rem;
	background: #EFF0F1;
	color: #0366D6;
	border: 1px solid #E5E7EB;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}

.errMsg {
	text-align: center;
	color: #FF4040;
}

.main {
	width: 100vw;
	padding: 50px;
}